#list-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

