@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-card {
    background-color: #f6f8ff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding-bottom: 80px;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.input-wrapper{
    position: relative;
    display: flex;
    align-items: center;
}

.label-form{
    font-size: 12px;
    color: #404044;
    font-weight: 500;
}

.form-group .input-form:focus-within{
    outline: 2px solid #6366f1;
}

.input-form {
    border: none;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: #ffff;
    padding: 10px;
    width: 100%;
}

.input-wrapper i {
    position: absolute;
    right: 12px;
    color: #666464;
    pointer-events: none;
}


.input-form:focus{
    outline: none;
}

.btn-login {
    display: block;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 21px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: fit-content;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: #4f46e5;
}

.btn-login:hover{
    background-color: #9490e4;
}

.login-footer a {
    text-decoration: none;
}




