@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}

main {
    padding: 20px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side_item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side_item.active {
    background-color: #4f46e5;
}

.side_item:hover:not(.active), #logout_btn:hover{
    background-color: #e3e9f7;
}

.side_item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #0a0a0a;
    justify-content: center;
}

.side_item.active a {
    color: #e3e9f7;
}

.side_item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #4f46e5;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description{
    width: 150px;
}

#sidebar.open-sidebar .side_item a {
    justify-content: flex-start;
    gap: 14px;
}

#content {
   /* mesma largura da sidebar */
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {

    #sidebar {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        min-width: 280px;
        transform: translateX(-100%);
        z-index: 1000;
        border-radius: 0 18px 18px 0;
    }

    #sidebar.open-sidebar {
        transform: translateX(0);
        width: 160px;
    }

    #content {
        width: 100%;
        padding: 20px;
    }
}
